.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}

ul{
    list-style-type: none;
}

.checked{
    text-decoration: line-through;
}

.unchecked{
    text-decoration: none;
}
